.behance{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: 'Karrik-Regular';
  font-size: 4rem;
  align-items: center;
  & a svg{
    width: 5rem;
    height: 5rem;
    margin-left: 1rem;
    
  }
}

.grid-lines div{
  border: 1px solid black;
  & p{
    font-size: 3rem;
  }
}