  /////////CIBLE//////////
  .rolling-btn{
  background-color: #FFA1F5;
  width:fit-content;
  height: auto;
  padding: .5rem;
  border: 2px black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: 'Roboto-Regular';
  transform: rotate(-10deg);
  z-index: 10000;
  position: sticky;
  left: 60%;
  bottom: -50%;
}
.rolling-categories{
  background-color: black;
  width: 100vw;
  height: auto;
  color: white;
  padding: 4rem;
  margin-bottom:2em;
}

.center p{
  font-size: 2rem;
}
  
  /////////////////// GRID ///////////////////////
  .grid-container {
    display: flex; // flexbox permet d'avoir chaque div sur une meme ligne et de modifier leur taille au survol
    gap: 1rem;
    padding: 20px;
    overflow-x: auto;
    flex-wrap: nowrap; // chaque div sur la même ligne
  }
  .grid-item {
  flex: 1; // 
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  height: 100vh; /* Ajustez selon vos besoins */
  transition: flex 0.3s ease-in-out, transform 0.3s ease-in-out; /* Ajout de la transition sur la propriété flex et transform */
}

.grid-item:hover {
      flex:2;
      // gap:2rem;
      transform: scale(1.5);
      z-index: 3;
      
}
.grid-item img {
  max-width: 100%;
}

.grid-item h3 {
  z-index: 1000;
  color: #fff;
  font-family: 'Syne';
  font-size: 3rem;
  text-align: center;
  margin-top: 20rem
}  
.grid-text {
    background: rgba(0, 0, 0, 0.258);
    color: #fff;
    opacity:0;
    height: 50%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    text-align: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;  
}
  
  .grid-text:hover {
    background-color: #000000;
    opacity: .5;
    transform: scale(2);
  }


//// RESPONSIVE ///////
  @media (max-width: 600px) {
    .grid-container {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1em;
      padding: 1em;
    & .grid-item{
          max-width: 80vw;
    }
  }
}  