  /////////////////// GRID ///////////////////////
  .grid-container {
    display: flex; // flexbox permet d'avoir chaque div sur une meme ligne et de modifier leur taille au survol
    gap: 1rem;
    padding: 20px;
    overflow-x: hidden;
    
    // flex-wrap: nowrap; // chaque div sur la même ligne
  }
  .grid-item {
  flex: 1; // 
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  height: 100vh; /* Ajustez selon vos besoins */
  transition: flex 0.3s ease-in-out, transform 0.3s ease-in-out; /* Ajout de la transition sur la propriété flex et transform */
}

.grid-item:hover {
  flex-grow: 4; // élargit homothetiquement la div survolée
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;  
}
.grid-item img {
  max-width: 100%;
}

.grid-item h3 {
  z-index: 1000;
  color: #fff;
  font-family: 'Syne';
  font-size: 3rem;
  text-align: center;
  margin-top: 20rem
}  


.grid-text {
    color: #fff;
    opacity:0;
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-family: 'Inter';
    font-size: 1rem;
    text-align: center;
}
  

//// RESPONSIVE ///////
  @media (max-width: 600px) {
    .grid-container {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1em;
      padding: 1em;
    & .grid-item{
          max-width: 80vw;
    }
  }
}  