nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content:end;
  align-items: center;
  margin-right:3em;
  gap:1em;
}
.social{
  & nav p{
      margin:1.5em;
    }
  & p{
    font-size: 2.5rem;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
  & button{
    width: 5em;
    height: 5em;
    & a .svgIcon{
      width: 15em;
    }
  }
}

.mail{
  display: flex;
  justify-content: end;
  margin-right:2rem;
  font-size: 3em;
  font-family: 'Karrik-Regular';

  & button{
    border-radius: 20px;
    background-color: #000;
    color: white;
    font-size:2rem;
    font-weight:100;
    width: fit-content;
    height : 10vh;
    padding: 1.5rem;
    border-radius: 50px;
    background-color: rgb(20, 20, 20);
    border: none;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);

    &:hover{
      background-color: white;
      color: black;
      border : 1px black solid;
      padding: 1.5rem;
      border-radius: 50px;
      font-size:2rem;
      font-weight:100;
      width: fit-content;
      height : 10vh;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    }
  }
    & .popup{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 60px;
    padding: .8em 1em .8em 1em;
    font-size: 1.6rem;
  }
}
a {
  color: #000;
  text-decoration: none;
  font-size: 2rem;

  &:hover {
    font-family:'Roboto-LightItalic';
    text-decoration: none;
  }
}

.text-zone{
  font-family: 'Karrik-Regular';
  font-size: 6.5em;
  margin-left: .5rem;
  
}
.toggleActive{
  font-size: 4rem;
  color: #05c46b;
  border: #05c46b 1px solid;
  border-radius: 60px;
  padding: .7rem 2rem .7rem 2rem;
  margin-top: 1.2em;
}
.toggleInactive{
  display: none
}

@keyframes writeAnimation {
  0% {
    font-family: 'Karrik-Regular';
  }
  10% {
    font-family: 'Basteleur-Bold';
  }
  30% {
    font-family: 'Sora-ExtraBold';
  }
  50% {
    font-family: 'Epilogue-Bold';
  }
  100% {
    font-family: 'PlayfairDisplay-Medium';
  }
}
.histoire-animation {
  margin-left: .5rem;
  font-family: 'Karrik-Regular'; // Définir la première fonte
  animation: writeAnimation 1s; // 2 secondes d'animation
  animation-timing-function: steps(5, end); // Utiliser 5 étapes pour imiter l'effet d'écriture
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 6rem;
  margin-top: .2em;
  margin-bottom: 0;
  cursor: pointer;
}

.toggle-switch button[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 60px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: .5rem;
  left: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle-switch button[type="checkbox"]:active + .toggle-switch-handle {
  transform: translateX(200px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #F8FF95;
  ;
}

.toggle-switch button[type="checkbox"]:active + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch button [type="checkbox"]:active + .toggle-switch:before {
  color: #05c46b;
  right: -30px;
}

.toggle-switch button[type="checkbox"]:active + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(210px);
}

.toggle{
  display: flex;
  gap: .2em;
  align-items: center;
  
}