.nav-bar {
  background: #e5e2e2;
  width:100vw;
  height:20vh;
  display: flex;
  flex-wrap: wrap;
  gap:10em;
  nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5em;
    font-family: 'Roboto-Regular';
    margin: 0 0 1.5em;
    a {
      color: #000;
      text-decoration: none;
      font-size: 2rem;

      &:hover {
        color: #000;
        font-family:'Roboto-LightItalic';
        text-decoration: none;
      }
    }
  }

  ul{
    display: 'flex';
    flex-wrap:'wrap';
    color: #000;
    width: 1em;
    list-style: none;

    li{
      a{
        padding: 7px 0;
        display: block;
        font-size: 1.5em;
        line-height: 16px;

        &:hover svg{
          color: #f8e83a;
        }
      }
    }
  }

  .logo{
    display: block;
    padding: 8px 0;
    width:10px;
  }

  img{
    display: block;
    margin: .5rem 1rem;
    width:5vw;
    height: auto;
  }
}
