.nav-bar{
  background: #f3f6f4;
  width:100vw;
  height:20vh;
  display: flex;
  flex-wrap: wrap;
  gap:10em;

  nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5em;
    font-family: 'Roboto-Regular';
    margin: 0 0 1.5em;
    a {
      color: #000;
      text-decoration: none;
      font-size: 2rem;

      &:hover {
        font-family:'Roboto-LightItalic';
        text-decoration: none;
      }
    }
  }
  img{
    display: block;
    margin: .5rem 1rem;
    width:5vw;
    height: auto;
  }
}



p{
  font-family: 'Roboto-Regular';
  font-weight: 500;
}
